<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/about.css">
    <title>About Me</title>
</head>
<body>
    <h1>First thing's first...</h1>
    <p>Where has this guy been for the past five years? It's a question I get a lot, and it's a valid concern.
        If this guy is any good as a developer, what's he been doing? So let me explain.</p>
    <br>
    <p>Five years ago I was a contract developer at a company near Pittsburgh. My project was cancelled. I liked 
        the project and it was a big disappointment, but contract work is contract work, and companies change 
        direction all the time. It had happened before. I felt pretty confident about finding my next project.
    </p>
    <br>
    <p>Instead I found myself in the hospital for a week, and I was out of work for almost two years. It was a 
        bad time. So I've spent the last few years getting back on my feet medically. I've worked a lot of
        odd jobs in the meantime to pay the bills. 
    </p>
    <br>
    <p>What I hope this site shows is that I'm still a serious programmer. I would argue I'm actually better
    now than I was a few years ago.</p>
</body>
</html>