<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/cv.css">
    <title>C.V.</title>
</head>
<body>
<h1>William Rohde</h1>
<ul class="cvul"><li> phone: 814.428.6157 </li><li>|</li><li> warohde@gmail.com </li><li>|</li>
    <li><a href="https://www.linkedin.com/in/william-rohde-94140022">On Linkedin</a> </li><li>|</li><li><a href="https://github.com/WilRohde">On Github</a></li></ul>

<h2>SUMMARY</h2> 
<p>Proactive and diligent Full Stack Developer with a passion for back-end web development. Expertise in object-oriented programming technologies such as Python and React. Strong ability to learn new technologies quickly and bring a critical eye to new projects.</p>

<h2>TECHNICAL SKILLS</h2>
<ul class="subul"><li>Languages</li><li>|</li><li>Python, javascript, C#, VB.Net Frameworks/Libraries</li>
<li>|</li><li>Flask, React, Django Databases</li><li>|</li><li>MySQL, Microsoft SQL Server</li></ul>

<h2>CORE  COMPETENCIES</h2> 
<ul class="subul"><li>Agile Methodology</li><li>|</li><li>Creative Thinking</li><li>|</li><li>Creative Thinking</li><li>|</li><li>Critical Analysis</li><li>|</li><li>Technology Integration</li></ul>

<h2>TECHNICAL PROJECTS</h2> 
<ul class="subul"><li>Writer’s Workshop</li><li>|</li><li>Designed and Developed</li><li>|</li>
<li><a href="https://github.com/WilRohde/WritersWorkshop.git">Check out the code!</a></li></ul>
<p class="itemsp">Writer’s Workshop allows creative writers to share their writing with other authors and receive feedback.  The hope is to foster a sense of community for a hobby that can often be isolating. A Python server backs up the application,  running against a MySQL database.	2022</p>
<ul class="itemsul">
    <li>Mapped out the application screens with Balsamiq.</li>
    <li>Designed and implemented the MySQL database to allow users to create a profile, submit work, create groups and invite other site members to join.</li>
    <li>Developed the Python code to communicate with the database through stored procedures.</li>
</ul>

<h2>PROFESSIONAL EXPERIENCE</h2>
<ul class="subul"><li>Mid-level Web Developer</li><li>|</li><li>E-Billinghub</li><li>|</li><li>Pittsburgh, PA<li>|</li><li></li>2015-2016</li></ul>
<ul class="itemsul">
    <li>Worked to translate older ASP code to ASP.Net.</li>
    <li>We began working with other technology and wrote a large amount of Javascript to support the new pages.</li>
    <li>Created database tables and stored procedures in Microsoft SQL Server.</li>
    <li>Trained in Agile development and took part in the Agile methodology.</li>
</ul>

<ul class="subul"><li>Mid-level Web Developer</li><li>|</li><li>Mosaic Software</li><li>|</li><li>Pittsburgh, PA<li>|</li><li>2014</li></li></ul>
<ul class="itemsul">
    <li>Supported legacy ASP.Net application tracking federal and state grant applications.</li>
    <li>Develop new functionality based on specifications generated by the product group.</li>
    <li>Utilized gitHub to update server software to newer version, supported upgrades after-hours.</li>
</ul>

<ul class="subul"><li>Specialist</li><li>|</li><li>US Steel</li><li>|</li><li>Pittsburgh, PA<li>|</li><li>2012-2013</li></li></ul>
<ul class="itemsul">
    <li>Supported IBM document management system.</li>
    <li>Worked with plant personnel to ensure their document hierarchies were correct and that all employees could access required documents.</li>
    <li>Wrote C# programs to monitor the system for errors and notify via email when problems occurred.</li>
</ul>

<ul class="subul"><li>Senior Programmer Analyst</li><li>|</li> Fiserv <li>|</li><li>King of Prussia, PA<li>|</li><li>2000-2010</li></li></ul>	
<ul class="itemsul">
    <li>Conducted software builds on new versions of the desktop client/server product.</li>
    <li>Created XML transformation engine to translate proprietary client/server messages for VB.NET upgrade.</li>
    <li>Took part in issue revinew meetings to triage problems reported by customer support.</li>
</ul>

<h2>EDUCATION</h2>	
<ul class="subul"><li>Coding Dojo</li><li>|</li><li>Full-Stack Web Development Certificate</li><li>|</li>2022</ul>
<ul class="itemsul">
    <li>Immersive Full-Stack Training Program in Python and Javascript</li>
</ul>

<ul class="subul"><li>Widener University School of Law</li><li>|</li><li>Juris Doctor</li><li>|</li><li>Wilmington, DE</li><li>|</li><li>2010</li></ul>
<ul class="itemsul">
    <li>Relevant Coursework: Business Law, Intellectual Property</li>
</ul>

<ul class="subul"><li>Indiana University of Pennsylvania</li><li>|</li><li>Bachelor of Arts in Computer Science</li><li>|</li><li>Indiana, PA</li><li>|</li><li>1996</li></ul>
<ul class="itemsul">
    <li>Relevant Coursework: C++, COBOL, PASCAL, Large File Structures, Relational Database Management</li>
</ul>

</body>
</html>