<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>William Rohde</title>
</head>
<body>
    <nav>
        <div class="navBar">
            <span class="navName">William Rohde</span>
            <ul class="navList">
                <li class="navItem"><a class="navLink" href="#about">About Me</a></li>
                <li class="navItem"><a class="navLink" href="#technologies">Technologies</a></li>
                <li class="navItem"><a class="navLink" href="cv.html">CV</a></li>
                <li class="navItem"><a class="navLink" href="#portfolio">Portfolio</a></li>
                <li class="navItem"><a class="navLink" href="#contactMe">Contact Me</a></li>
            </ul>
        </div>
    </nav>
    <div class="topImg">
        <div class="quoteBox">
            <span class="quoteText">"You can't change what happened. But you can still change what will happen."- Sebastian Vettel</span>
        </div>
        <!-- <img class="carImg" src="../static/images/python.jpg" alt="race car"> -->
        <div class="imageBox">
        </div>
    </div>
    <h1>William Rohde</h1>
    <span class="linkSpan"><a class="outLink" href="https://github.com/WilRohde" target="_blank" rel="noreferrer noopener">GitHub</a>
        <a class="outLink" href="https://www.linkedin.com/in/william-rohde-94140022" target="_blank" rel="noreferrer noopener">Linkedin</a></span>
<!-- <h2 class="mnuItem"><a href="About.html">About Me</a></h2>
<h2 class="mnuItem"><a href="CV.html">CV</a></h2> -->
<!-- <h2 class="mnuItem"><a href="Society">The Tau Ceti Society</a></h2>
<h2 class="mnuItem"><a href="Workshop">Writer's Workshop</a></h2> -->
<!-- <h2 class="mnuItem"><a href="Blog">The Blog</a></h2> -->
<div>
<img class="selfie" src="../static/images/img_20221009_124014.jpg" alt="william rohde">
</div>
<section id="about">
    <h2>About Me</h2>
    <br>
</section>
<section id="technologies"></section>
    <h2>Technologies</h2>
    <br>
<section id="portfolio"></section>
    <h2>Portfolio</h2>
    <br>
<section id="contactMe"></section>
    <h2>Contact Me</h2>
    <br>
</body>
</html>